.featureText {
  color: #f5c519;
  font-weight: 800;
  font-size: 30px;
}
.photoText {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}
.galleryContainer {
  position: absolute;
  bottom: 30%;
}
.galleryDesc {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 0px;
}
.seeGalleryP {
  color: #5799ef;
  font-size: 18px;
  font-weight: 500;
  line-height: 0px;
}
.pointer{
    cursor: pointer;
}